{% extends "base.html" %}
{% block encabezado %}{{ usuario_detalle }}{% endblock %}
{% block acciones %}
  <a class="btn btn-sm btn-borde" href="{% url 'usuarios:editar' usuario_detalle.pk %}">Editar</a>
  <a class="btn btn-sm btn-borde" href="{% url 'usuarios:password' usuario_detalle.pk %}">Cambiar contrasena</a>
{% endblock %}
{% block contenido %}
<div class="row"><div class="col-lg-6">
<div class="tarjeta"><div class="tarjeta-cuerpo">
  <dl class="row small mb-0">
    <dt class="col-5">Usuario</dt><dd class="col-7">{{ usuario_detalle.username }}</dd>
    <dt class="col-5">Correo</dt><dd class="col-7">{{ usuario_detalle.email|default:"-" }}</dd>
    <dt class="col-5">Telefono</dt><dd class="col-7">{{ usuario_detalle.telefono|default:"-" }}</dd>
    <dt class="col-5">Rol</dt><dd class="col-7">{{ usuario_detalle.get_rol_display }}</dd>
    <dt class="col-5">Activo</dt><dd class="col-7">{{ usuario_detalle.is_active|yesno:"Si,No" }}</dd>
    <dt class="col-5">Negocios</dt><dd class="col-7">{% for n in usuario_detalle.negocios.all %}{{ n }}{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}</dd>
    <dt class="col-5">Clientes asignados</dt><dd class="col-7">{{ clientes_asignados }}</dd>
    <dt class="col-5">Creditos asignados</dt><dd class="col-7">{{ creditos_asignados }}</dd>
    <dt class="col-5">Alta</dt><dd class="col-7">{{ usuario_detalle.creado_en|date:"d/m/Y" }}</dd>
  </dl>
</div></div>
</div></div>
{% endblock %}
