{% extends "base.html" %}
{% block encabezado %}{{ titulo }}{% endblock %}
{% block contenido %}
<div class="row"><div class="col-lg-8">
<div class="tarjeta"><div class="tarjeta-cuerpo">
  <form method="post" novalidate data-una-vez>
    {% csrf_token %}
    {% include "components/formulario.html" %}
    {% if form.password1 %}
      <div class="form-seccion"><h3>Contrasena</h3>
        <div class="row g-3">
          <div class="col-md-6">{% include "components/campo.html" with campo=form.password1 %}</div>
          <div class="col-md-6">{% include "components/campo.html" with campo=form.password2 %}</div>
        </div>
      </div>
    {% endif %}
    <button class="btn btn-primary" type="submit">Guardar</button>
    <a class="btn btn-borde" href="{% url 'usuarios:lista' %}">Cancelar</a>
  </form>
</div></div>
</div></div>
{% endblock %}
