{% extends "base.html" %}
{% block encabezado %}Mi perfil{% endblock %}
{% block contenido %}
<div class="row"><div class="col-lg-6">
<div class="tarjeta"><div class="tarjeta-cuerpo">
  <p class="small text-secondary">Rol: <strong>{{ user.get_rol_display }}</strong> &middot;
    Negocios: {% for n in user.negocios.all %}{{ n }}{% if not forloop.last %}, {% endif %}{% empty %}todos{% endfor %}</p>
  <form method="post" novalidate>
    {% csrf_token %}
    {% include "components/formulario.html" %}
    <button class="btn btn-primary" type="submit">Guardar</button>
    <a class="btn btn-borde" href="{% url 'usuarios:mi_password' %}">Cambiar contrasena</a>
  </form>
</div></div>
</div></div>
{% endblock %}
