{% extends "base.html" %}
{% block encabezado %}{{ titulo }}{% endblock %}
{% block contenido %}
<div class="row g-3">
  <div class="col-lg-8">
    <div class="tarjeta">
      <div class="tarjeta-cuerpo">
        <form method="post" enctype="multipart/form-data" novalidate id="simulador"
              data-url="{% url 'creditos:simular' %}" data-csrf="{{ csrf_token }}">
          {% csrf_token %}
          {% include "components/formulario.html" %}
          <div class="d-flex gap-2">
            <button class="btn btn-primary" type="submit">Continuar y revisar condiciones</button>
            <a class="btn btn-borde" href="{% url 'creditos:lista' %}">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="tarjeta">
      <div class="tarjeta-cabecera"><h2>Previsualizacion</h2></div>
      <div class="tarjeta-cuerpo">
        <div id="simulacion-salida" class="d-none">
          <dl class="row mb-0">
            <dt class="col-7">Interes total</dt><dd class="col-5 text-end" data-campo="interes">-</dd>
            <dt class="col-7">Total a pagar</dt><dd class="col-5 text-end fw-semibold" data-campo="total">-</dd>
            <dt class="col-7">Importe por cuota</dt><dd class="col-5 text-end" data-campo="cuota">-</dd>
            <dt class="col-7">Ultima cuota</dt><dd class="col-5 text-end" data-campo="ultima">-</dd>
          </dl>
        </div>
        <p class="ayuda mb-0 mt-3">
          Esta previsualizacion es informativa. El servidor vuelve a calcular el interes,
          el total y el calendario al guardar el credito.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
