{% extends "base.html" %}{% load formato %}
{% block encabezado %}Dashboard - {{ negocio.nombre_comercial }}{% endblock %}
{% block acciones %}
<form class="d-flex gap-2" method="get">
  <input type="date" name="desde" value="{{ desde }}" class="form-control form-control-sm">
  <input type="date" name="hasta" value="{{ hasta }}" class="form-control form-control-sm">
  <button class="btn btn-sm btn-primary">Aplicar</button>
  <a class="btn btn-sm btn-borde" href="{% url 'negocios:detalle' negocio.pk %}">Ficha</a>
</form>
{% endblock %}
{% block contenido %}
<div class="indicadores">
  {% include "components/indicador.html" with etiqueta="Capital colocado" valor=resumen.capital_colocado|mxn pie="Dinero prestado" acento="acento-azul" %}
  {% include "components/indicador.html" with etiqueta="Interes contractual" valor=resumen.interes_contractual|mxn pie="Pactado" acento="acento-azul" %}
  {% include "components/indicador.html" with etiqueta="Pagos recibidos" valor=resumen.total_recaudado|mxn acento="acento-verde" %}
  {% include "components/indicador.html" with etiqueta="Cartera pendiente" valor=resumen.saldo_pendiente|mxn acento="acento-ambar" %}
  {% include "components/indicador.html" with etiqueta="Cartera vencida" valor=resumen.saldo_vencido|mxn acento="acento-rojo" %}
  {% include "components/indicador.html" with etiqueta="Creditos activos" valor=resumen.creditos_activos acento="acento-azul" %}
  {% include "components/indicador.html" with etiqueta="En mora" valor=resumen.creditos_en_mora acento="acento-rojo" %}
  {% include "components/indicador.html" with etiqueta="% recuperacion" valor=resumen.porcentaje_recuperacion|porcentaje acento="acento-verde" %}
  {% include "components/indicador.html" with etiqueta="% cartera vencida" valor=resumen.porcentaje_cartera_vencida|porcentaje acento="acento-rojo" %}
</div>
{% endblock %}
