{% extends "base.html" %}
{% block encabezado %}{{ titulo }}{% endblock %}
{% block contenido %}
<div class="tarjeta">
  <div class="tarjeta-cuerpo">
    <form method="post" novalidate data-una-vez>
      {% csrf_token %}
      {% include "components/formulario.html" %}
      <div class="d-flex gap-2">
        <button class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn btn-borde" href="{% url 'negocios:lista' %}">Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
