{% load i18n %}
{% if form.non_field_errors %}
  <div class="alert alert-danger py-2 small">{{ form.non_field_errors }}</div>
{% endif %}
<div class="row g-3">
  <div class="col-12">{% include "components/field.html" with field=form.customer %}</div>
  <div class="col-sm-6">{% include "components/field.html" with field=form.principal %}</div>
  <div class="col-sm-6">{% include "components/field.html" with field=form.payment_frequency %}</div>
  <div class="col-sm-6">{% include "components/field.html" with field=form.installment_count %}</div>
  <div class="col-sm-6">{% include "components/field.html" with field=form.first_payment_date %}</div>
  <div class="col-sm-6">{% include "components/field.html" with field=form.application_date %}</div>
  <div class="col-12">{% include "components/field.html" with field=form.notes %}</div>
</div>
