{% extends "base.html" %}{% load i18n %}
{% block heading %}{{ title }}{% endblock %}
{% block content %}
<form method="post" novalidate data-submit-once data-simulate-url="{% url 'loans:simulate' %}">
  {% csrf_token %}
  <div class="row g-3">
    <div class="col-lg-8">
      <div class="card-panel"><div class="card-panel-body">
        {% include "loans/_loan_form.html" %}
        <div class="d-flex gap-2 mt-3">
          <button class="btn btn-primary" type="submit">{% trans "Save loan" %}</button>
          <a class="btn btn-outline-soft" href="{{ cancel_url|default:'/loans/' }}">{% trans "Cancel" %}</a>
        </div>
      </div></div>
    </div>
    <div class="col-lg-4">
      <div class="card-panel"><div class="card-panel-body">{% include "loans/_loan_preview.html" %}</div></div>
    </div>
  </div>
</form>
{% endblock %}
