{% extends "base.html" %}{% load i18n %}
{% block heading %}{{ title }}{% endblock %}
{% block content %}
<div class="card-panel">
  <div class="card-panel-body">
    <form method="post" novalidate data-submit-once>
      {% csrf_token %}
      {% include "components/form.html" %}
      <div class="d-flex gap-2">
        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        <a class="btn btn-outline-soft" href="{% url 'businesses:list' %}">{% trans "Cancel" %}</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
